# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Build artifacts
*.o
*.obj
*.out
*.exe
*.elf
*.gch

# Build folders
obj/
bin/
dst/
build/

# Logs and temp files
*.log
*.tmp
*~
*.swp
*.swo
*.bak

# IDE/project files
.vscode/
.idea/
*.code-workspace
*.xcworkspace/
*.xcodeproj/
